In [1]:
'2' + 5

TypeError: can only concatenate str (not "int") to str

In [2]:
type(4.5e-7)

float

In [3]:
"Hello world"

'Hello world'

In [4]:
'Hello world'

'Hello world'

In [5]:
print("Hello world")

Hello world

In [6]:
"what"

'what'

In [7]:
"what"

'what'

In [10]:
2%3

2

In [11]:
2//3

0

In [12]:
my_list_2 = [1, 2.3, 'a string', ['a string within a list',5]]

In [13]:
my_list_2

[1, 2.3, 'a string', ['a string within a list', 5]]

In [14]:
2 not in my_list_2

True

In [15]:
1 in my_list_2

True

In [16]:
'a string within a list' in my_list_2

False

In [19]:
# Make a list of stop codons
stop_codons = ['UAA', 'UAG', 'UGA']

# Specify codon
codon = 'AAG'

# Check to see if it is a start or stop codon
if codon == 'AUG':
    print('This codon is the start codon.')
elif codon in stop_codons:
    print('This codon is a stop codon.')
else:
    print('This codon is neither a start nor stop codon.')

This codon is neither a start nor stop codon.

In [38]:
seq = 'GTCTTCGAAACGTACGTGTACAGTTGACG'

In [42]:
len_seq = 0
n_gc = 0

for base in seq: 
    len_seq +=1
    if base in 'GCgc' : 
        n_gc += 1
n_gc / len_seq

0.4827586206896552

In [26]:
%who

base	 codon	 len_seq	 my_list_2	 n_GC	 n_gc	 seq	 stop_codons

In [63]:
n_gc = 0

for i,base in enumerate(seq): 
    
    if base in 'GCgc' : 
        
        print(i)
        n_gc += 1
        
n_gc / len(seq)

0
2
5
6
10
11
14
15
17
20
22
25
27
28

0.4827586206896552

my_ints = ['n will never be zero', 1, 2, 3, 4, 5]

#list converted into iterator not iterable, just spitting values of n 
#n*2 is calculated without changing the list values
second_list = []
for n in my_ints: 
    n*=2
    second_list += [n]
    
my_ints
second_list

In [61]:
my_ints = [ 1, 2, 3, 4, 5]

# works not cleanest

for i in range(len(my_ints)): 
    
    my_ints[i]*=2
    
my_ints

[2, 4, 6, 8, 10]

In [59]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [60]:
my_ints = [ 1, 2, 3, 4, 5]

#PYTHONIC

for i, n in enumerate(my_ints): #spits index and associated value un list
    
    my_ints[i]=n*2
    
my_ints

[2, 4, 6, 8, 10]

In [64]:
names = ('Lloyd', 'Holiday', 'Heath')
positions = ('MF', 'MF', 'F')
numbers = (10, 12, 17)

#zip(list1, list2,...,list n) gives out a tuple of size n
for num, pos, name in zip(numbers, positions, names):
    print(num, name, pos)

10 Lloyd MF
12 Holiday MF
17 Heath F

In [66]:
def complement_base(base):
    """Returns the Watson-Crick complement of a base."""
    if base in 'Aa':
        return 'T'
    elif base in 'Tt':
        return 'A'
    elif base in 'Gg':
        return 'C'
    else:
        return 'G'


def reverse_complement(seq):
    """Compute reverse complement of a sequence."""
    # Initialize reverse complement
    rev_seq = ''
    
    # Loop through and populate list with reverse complement
    for base in reversed(seq):
        rev_seq += complement_base(base)
        
    return rev_seq

In [67]:
reverse_complement('GCAGTTGCA')

'TGCAACTGC'

In [70]:
def reverse_complement1(seq):
    """Compute reverse complement of a sequence."""
     # Initialize reverse complement
    rev_seq = ''
    
    # Loop through and populate list with reverse complement
    for base in seq[::-1]:
        rev_seq += complement_base(base)
        
    return rev_seq

In [71]:
reverse_complement1('GCAGTTGCA')

'TGCAACTGC'

In [72]:
def display_complements(seq):
    """Print sequence above its reverse complement."""
    # Compute the reverse complement
    rev_comp = reverse_complement(seq)
    
    # Print template
    print(seq)
    
    # Print "base pairs"
    for base in seq:
        print('|', end='')
    
    # Print final newline character after base pairs
    print()
            
    # Print reverse complement
    for base in reversed(rev_comp):
        print(base, end='')
        
    # Print final newline character
    print()

In [73]:
display_complements('GCAGTTGCA')

GCAGTTGCA
|||||||||
CGTCAACGT

In [76]:
def non_loop_complement(seq):
    
    seq.maketrans?

In [77]:
seq.maketrans?

Signature: seq.maketrans(x, y=None, z=None, /)
Docstring:
Return a translation table usable for str.translate().

If there is only one argument, it must be a dictionary mapping Unicode
ordinals (integers) or characters to Unicode ordinals, strings or None.
Character keys will be then converted to ordinals.
If there are two arguments, they must be strings of equal length, and
in the resulting dictionary, each character in x will be mapped to the
character at the same position in y. If there is a third argument, it
must be a string, whose characters will be mapped to None in the result.
Type:      builtin_function_or_method